<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Список пользователей</h1>

<table border="2">
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:utext="${user.getId()}">Id</td>
        <td th:utext="${user.getFirstName()}">Username</td>
        <td th:utext="${user.getLastName()}">Password</td>
        <td th:utext="${user.getAge()}">Role</td>
        <td th:utext="${user.getEmail()}">First Name</td>
        <td th:utext="${user.getRoles()}">Last Name</td>
        <td>
            <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/admin/{id}/delete(id=${user.getId()})}">Delete</a>
        </td>
    </tr>
</table>
<br>
<a href="/admin/new">Add New User</a>
<br/>
<br/>
<a href="/logout">Log out.</a>

</body>
</html>