<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый Пользователь</title>
</head>
<body>

<form th:method="post" th:action="@{/users}" th:object="${user}">
    <label for="name">Введите имя</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>

    <label for="lastName">Введите фамилию</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>

    <label for="age">Ваш возраст</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>

    <input type="submit" value="Отправить."/>
</form>

</body>
</html>